<nav class="nav">
  <a href="/" class="nav-logo"><img src="/images/logo.svg" alt="Into Golf" height="40"></a>
  <details class="nav-menu">
    <summary class="hamburger">☰</summary>
    <ul>
      <li><a href="/">Home</a></li>
      {% if golfer %}
      <li><a href="/golfer/{{ golfer.id }}">Mijn progressie</a></li>
      {% else %}
      <li><a href="/golfer/1">Mijn progressie</a></li>
      {% endif %}
    </ul>
  </details>
</nav>